<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
</head>

<body>
    <form action="/admin/add-products" method="post" enctype="multipart/form-data">
        <input type="text" name="product_name" placeholder="Product Name" required>
        <input type="number" name="product_price" placeholder="Product Price" required>
        <input type="file" name="product_img" placeholder="Product Image" required>
        <button type="submit">Upload</button>
    </form>
</body>

</html>