@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    height: 55px;
    background-color: #66CCFF;
}

.container {
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.brand {
    width: 20%;
    margin: 0.5rem 0.9rem;
}

.brand h1 {
    font-weight: 100;
}

.navMenu {
    width: 80%;
}

.navMenu ul li {
    display: inline;
    float: right;
    margin: 0.9rem 1rem;
    font-size: 1.1rem;
}

.navMenu ul li a {
    text-decoration: none;
    color: black;
}

.hamburger {
    display: none;
}

.banner {
    height: 350px;
    margin-top: 2rem;
    background: url(../img/backgroundTemplate1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
}

.textBlock {
    margin: 5rem 1rem;
    box-sizing: border-box;
    padding: 1rem;
    height: 120px;
    background-color: rgba(91, 141, 175, 0.4);
}

.textBlock h1 {
    font-weight: 100;
}

.banner_btn {
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 0.8rem;
    background-color: black;
    color: white;
}

.banner_block {
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: 3rem;
}

.banner1 {
    width: 50%;
    background: url(../img/watchBackground2Template1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 1rem;
}

.banner1 .text_block {
    margin: 5rem 2rem;
    color: white;
}

.banner1 .text_block span {
    font-weight: 100;
}

.banner1 .text_block h1 {
    font-weight: 100;
}

.banner2_btn {
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 0.8rem;
    background: whitesmoke;
    color: black;
}

.banner2 {
    width: 50%;
    background: url(../img/watchBackgroundTemplate1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 1rem;
    background-position: 0px;
}

.banner2 .text_block {
    margin: 5rem 2rem;
    color: white;
}

.banner2 .text_block span {
    font-weight: 100;
}

.banner2 .text_block h1 {
    font-weight: 100;
}

.title {
    margin-top: 3rem;
}

.title h1 {
    margin: 0 auto;
    font-weight: 100;
}

.title h1::after {
    display: block;
    content: "";
    height: 3px;
    width: 120px;
    background-color: black;
    margin: 0.5rem auto 0 auto;
}

.products {
    margin-top: 1rem;
}

.products .product_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5rem;
}

.products .product_row .product {
    width: 250px;
    height: 400px;
    padding: 1rem;
    margin-top: 2rem;
}

.products .product_row .product .product_img {
    width: 100%;
    height: 70%;
    margin-bottom: 0.6rem;
}

.product_price {
    margin-top: 0.5rem;
    color: green;
}

.cart_btn {
    margin-top: 1rem;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.footer_block {
    margin-top: 1rem;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #66CCFF;
    height: 45px;
}

.copyright {
    margin: 1rem auto;
}

.copyright h3 {
    font-weight: 100;
}

.hamburger_navMenu {
    display: none;
    background-color: #66CCFF;
    padding: 1rem;
}

.hamburger_navMenu li {
    list-style: none;
    margin: 1rem;
}

.hamburger_navMenu li a {
    text-decoration: none;
    color: black;
}

/* media query--- */

@media(max-width:700px) {
    .navbar {
        height: 45px;
        background-color: #66CCFF;
    }
    .container {
        width: 100vw;
        display: flex;
        margin: 0 auto;
    }
    .navMenu {
        display: none;
    }
    .show {
        display: block;
    }
    .brand {
        width: 70%
    }
    .brand h1 {
        font-size: 25px;
    }
    .hamburger {
        display: block;
        width: 20%;
        margin: 0.6rem 0 0.6rem 5rem;
    }
    .hamburger i {
        font-size: 1.5rem;
    }
    .banner {
        height: 180px;
        margin-top: 1rem;
        background: url(../img/backgroundTemplate1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px;
    }
    .textBlock {
        margin: 2rem 1rem;
        box-sizing: border-box;
        padding: 0.5rem;
        height: 70px;
        background-color: rgba(91, 141, 175, 0.4);
    }
    .textBlock h1 {
        font-weight: 100;
        font-size: 16px;
    }
    .banner_btn {
        height: 20px;
        width: 80px;
        border: none;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        margin-top: 0.8rem;
        font-size: 0.7rem;
        background-color: black;
        color: white;
    }
    .banner_block {
        width: 100%;
        height: 130px;
        display: flex;
        margin-top: 2rem;
    }
    .banner1 {
        width: 50%;
        background: url(../img/watchBackground2Template1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 0.1rem;
    }
    .banner1 .text_block {
        margin: 2rem 0.5rem;
        color: white;
    }
    .banner1 .text_block span {
        font-weight: 100;
    }
    .banner1 .text_block h1 {
        font-weight: 100;
        font-size: 17px;
    }
    .banner2_btn {
        height: 20px;
        width: 80px;
        border: none;
        border-radius: 9px;
        outline: none;
        cursor: pointer;
        margin-top: 1rem;
        font-size: 0.8rem;
        background: whitesmoke;
        color: black;
    }
    .banner2 {
        width: 50%;
        background: url(../img/watchBackgroundTemplate1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 0.1rem;
        background-position: 0px;
    }
    .banner2 .text_block {
        margin: 2rem 0.5rem;
        color: white;
    }
    .banner2 .text_block span {
        font-weight: 100;
    }
    .banner2 .text_block h1 {
        font-weight: 100;
        font-size: 17px;
    }
    .title {
        margin-top: 2rem;
    }
    .title h1 {
        margin: 0 auto;
        font-weight: 100;
        font-size: 20px;
    }
    .title h1::after {
        display: block;
        content: "";
        height: 3px;
        width: 8 0px;
        background-color: black;
        margin: 0.5rem auto 0 auto;
    }
    .products .product_row {
        display: grid;
        column-gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }
    .products .product_row .product {
        width: 100%;
        height: 230px;
        padding: 1rem;
        margin-top: 2rem;
    }
    .product_img img {
        width: 100%;
        height: 100%;
    }
    .product_price {
        margin-top: 0.5rem;
        color: green;
    }
    .cart_btn {
        margin-top: 1rem;
        width: 100%;
        height: 40px;
        background-color: black;
        color: white;
        font-size: 0.8rem;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .footer_block {
        margin-top: 4rem;
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #66CCFF;
        height: 45px;
    }
}